altair==latest
anyio==latest
apptools==5.2.1
argon2-cffi==latest
argon2-cffi-bindings==latest
asttokens==latest
async-lru==latest
attrs==latest
Babel==latest
beautifulsoup4==latest
bleach==latest
blinker==latest
Bottleneck==latest
bqplot==0.12.43
Brotli==latest
cachetools==latest
certifi==latest
cffi==latest
chardet==5.2.0
charset-normalizer==latest
click==latest
colorama==latest
comm==latest
configobj==5.0.8
contourpy==1.2.1
cycler==0.12.1
debugpy==latest
decorator==latest
defusedxml==latest
envisage==7.0.3
exceptiongroup==latest
executing==latest
fastjsonschema==latest
fonttools==4.51.0
gitdb==latest
GitPython==latest
idna==latest
ipydatawidgets==4.3.5
ipykernel==latest
ipython==latest
ipython-genutils==latest
ipyvolume==0.6.3
ipyvue==1.11.1
ipyvuetify==1.9.4
ipywebrtc==0.6.0
ipywidgets==latest
jedi==latest
Jinja2==latest
joblib==1.4.2
json5==latest
jsonschema==latest
jsonschema-specifications==latest
jupyter-events==latest
jupyter-lsp==latest
jupyter_client==latest
jupyter_core==latest
jupyter_server==latest
jupyter_server_terminals==latest
jupyterlab==latest
jupyterlab-pygments==latest
jupyterlab-widgets==latest
jupyterlab_server==latest
kiwisolver==1.4.5
lxml==5.2.2
markdown-it-py==latest
MarkupSafe==latest
matplotlib==3.9.0
matplotlib-inline==latest
mayavi==4.8.1
mdurl==latest
mistune==latest
mkl-fft==latest
mkl-random==latest
mkl-service==2.4.0
nbclient==latest
nbconvert==latest
nbformat==latest
nest-asyncio==latest
nibabel==5.2.1
nilearn==0.10.4
notebook==latest
notebook_shim==latest
numexpr==latest
numpy==latest
overrides==latest
packaging==latest
pandas==latest
pandocfilters==latest
parso==latest
patsy==0.5.3
pillow==latest
platformdirs==latest
plotly==latest
prometheus-client==latest
prompt-toolkit==latest
protobuf==3.20.3
psutil==latest
pure-eval==latest
pyarrow==latest
pycparser==latest
pydeck==latest
pyface==8.0.0
Pygments==latest
pyparsing==3.1.2
PySocks==latest
python-dateutil==latest
python-json-logger==latest
pythreejs==2.4.2
pytz==latest
pywin32==305.1
pywinpty==latest
PyYAML==latest
pyzmq==latest
referencing==latest
requests==latest
rfc3339-validator==latest
rfc3986-validator==latest
rich==latest
rpds-py==latest
scikit-learn==1.5.0
scipy==latest
Send2Trash==latest
six==latest
smmap==latest
sniffio==latest
soupsieve==latest
stack-data==latest
statsmodels==latest
streamlit==latest
tenacity==latest
terminado==latest
threadpoolctl==3.5.0
tinycss2==latest
toml==latest
tomli==latest
toolz==latest
tornado==latest
traitlets==5.14.3
traits==6.4.3
traitsui==8.0.0
traittypes==0.2.1
typing_extensions==latest
tzdata==latest
urllib3==latest
vtk==9.3.0
watchdog==latest
wcwidth==0.2.13
webencodings==0.5.1
websocket-client==latest
widgetsnbextension==latest
win-inet-pton==latest
wxPython==4.2.1
